/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative; 
  width: $container-width; 
  max-width: $container-max-width; 
  margin: 0 auto; 
  padding: 0; }
.container .column,        
.container .columns { 
  float: left; 
  width: 100%; 
  box-sizing: border-box; }
.row { 
  margin-bottom: 2rem; }
.row .column:first-child,        
.row .columns:first-child { 
  margin-left: 0; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  
  .container .column,
  .container .columns {
    margin-left: 4%; }
  
  .container .one.column,
  .container .one.columns          { width: 4.66666666667%; }
  .container .two.columns          { width: 13.3333333333%; }
  .container .three.columns        { width: 22%;            }
  .container .four.columns         { width: 30.6666666667%; }
  .container .five.columns         { width: 39.3333333333%; }
  .container .six.columns          { width: 48%;            }
  .container .seven.columns        { width: 56.6666666667%; }
  .container .eight.columns        { width: 65.3333333333%; }
  .container .nine.columns         { width: 74.0%;          }
  .container .ten.columns          { width: 82.6666666667%; }
  .container .eleven.columns       { width: 91.3333333333%; }
  .container .twelve.columns       { width: 100%; margin-left: 0; }

  .container .one-third.column     { width: 30.6666666667%; }
  .container .two-thirds.column    { width: 65.3333333333%; }

  .container .one-half.column      { width: 48%; }

  /* Offsets */
  .container .offset-by-one.column,
  .container .offset-by-one.columns       { margin-left: 8.66666666667%; }
  .container .offset-by-two.column        { margin-left: 17.3333333333%; }
  .container .offset-by-three.column      { margin-left: 26%;            }
  .container .offset-by-four.column       { margin-left: 34.6666666667%; }
  .container .offset-by-five.column       { margin-left: 43.3333333333%; }
  .container .offset-by-six.column        { margin-left: 52%;            }
  .container .offset-by-seven.column      { margin-left: 60.6666666667%; }
  .container .offset-by-eight.column      { margin-left: 69.3333333333%; }
  .container .offset-by-nine.column       { margin-left: 78.0%;          }
  .container .offset-by-ten.column        { margin-left: 86.6666666667%; }
  .container .offset-by-eleven.column     { margin-left: 95.3333333333%; }

  .container .offset-by-one-third.column  { margin-left: 34.6666666667%; }
  .container .offset-by-two-thirds.column { margin-left: 69.3333333333%; }

  .container .offset-by-one-half.column   { margin-left: 52%; }

}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf { 
  content: "";
  display: table;
  clear: both; }